# GymTrack PostgreSQL Database Connection String (Supabase / Local)
DATABASE_URL="postgresql://postgres:justkidding1904s@db.obpvcgosumyjehkhgshv.supabase.co:5432/postgres"

# Port & Environment
PORT=5000
NODE_ENV=development

# JWT Secret
JWT_SECRET="gymtrack_jwt_secret_key_2026_sg"
